{% extends 'front/header.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p style="color: red">Bienvenue sur la page d'accueil de notre site web.</p>
{% endblock %}
